$color-primary: #727cf5;
$color-primary-light: #d8dbf8;
$color-add: #0acf97;
$color-background: #fafbfe;

$text-default: #6c757d;
$text-dark: #212b36;

$border-radius: 4px;
$box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);

$font-family:   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
