<div class="branding row align-items-center">
  <div class="col flush">
    <a href="/" class="branding-logo"><%= image_tag("logo.png")%></a>
  </div>
  <div class="col flush text-right">
    <%= render "shared/user_menu" %>
  </div>
</div>
