<div class="main-content col flex-fill">

</div>
<div class="main-sidebar col flex-fill">
  <%= render 'form' %>
  <%= link_to sites_path, class: "action" do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
</div>
