<div class="main-content col flex-fill">

</div>
<div class="main-sidebar col flex-fill">
  <div class="main-sidebar-scroller">
    <%= render "shared/branding"%>
    <%= render 'form' %>
  </div>
  <%= link_to sites_path, class: "action" do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
</div>
